@media (min-width: 400px) and (max-width: 589px) {#b {}}@media (min-width: 590px) 
{#b {}

.testing { background-color: #000); }
.testing2, .testing3 { background-color: #000); }
.testing2, .testing-style-only { background-color: #000); }
#testingStyle_only_id {} 
#testing1, #testing2, #testing-id {}